<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935344900931-kd9r8r2dj2qs0eshg76gfitblmoqje0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935344900931-kd9r8r2dj2qs0eshg76gfitblmoqje0o</string>
	<key>API_KEY</key>
	<string>AIzaSyCrV9ppxIp0CHcG_2DVOqhf-mR9wFa5c3A</string>
	<key>GCM_SENDER_ID</key>
	<string>935344900931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.squid</string>
	<key>PROJECT_ID</key>
	<string>squid-8d19c</string>
	<key>STORAGE_BUCKET</key>
	<string>squid-8d19c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935344900931:ios:5f61d802407aab2060bdf6</string>
</dict>
</plist>